footer {
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

//index
.section-pie-de-pagina-index {

    width: fit-content;
    height: fit-content;
    position: relative;
    font-family: "K2D", sans-serif;
    font-weight: 100;
    font-style: normal;
    bottom: 120px;
    left: 290px;

    .instagram-index {
        width: 3.1rem;
        height: auto;
        position: relative;
        top: 136px;
        left: 530px;
    }

    .mail-index {
        width: 1.9rem;
        height: auto;
        position: relative;
        top: 135px;
        left: 520px;
    }

    .copiright-index {
        width: fit-content;
        position: relative;
        left: 520px;
        top: 132px;
        color: white;
    }
}

//bio
.section-pie-de-pagina-bio {
    width: 100%;
    height: fit-content;
    position: relative;
    font-weight: 100;
    left: 180px;
    top: 300px;
    font-family: "K2D", sans-serif;
    font-weight: 100;


    .instagram-bio {
        width: 3.1rem;
        height: auto;
        position: relative;
        left: 660px;
        top: 300px;
    }

    .mail-bio {
        width: 1.9rem;
        height: auto;
        position: relative;
        left: 650px;
        top: 299px;
    }

    .copiright-bio {
        width: fit-content;
        position: relative;
        top: 300px;
        left: 653px;
        color: white;
    }
}

//musica
.section-pie-de-pagina-musica {

    width: fit-content;
    height: fit-content;
    position: relative;
    font-family: "K2D", sans-serif;
    font-weight: 100;
    font-style: normal;
    bottom: 0px;
    top: 950px;
    left: 290px;

    .instagram-musica {
        width: 3.1rem;
        height: auto;
        position: relative;
        top: 236px;
        left: 560px;
    }

    .mail-musica {
        width: 1.9rem;
        height: auto;
        position: relative;
        top: 235px;
        left: 550px;
    }

    .copiright-musica {
        width: fit-content;
        position: relative;
        left: 550px;
        top: 232px;
        color: white;
    }
}

//videos
.section-pie-de-pagina-videos {

    width: fit-content;
    height: fit-content;
    position: relative;
    font-family: "K2D", sans-serif;
    font-weight: 100;
    font-style: normal;
    bottom: 0px;
    top: 850px;
    left: 290px;

    .instagram-videos {
        width: 3.1rem;
        height: auto;
        position: relative;
        top: 236px;
        left: 560px;
    }

    .mail-videos {
        width: 1.9rem;
        height: auto;
        position: relative;
        top: 235px;
        left: 550px;
    }

    .copiright-videos {
        width: fit-content;
        position: relative;
        left: 550px;
        top: 232px;
        color: white;
    }
}

//fotos
.section-pie-de-pagina-fotos {

    width: fit-content;
    height: fit-content;
    position: relative;
    font-family: "K2D", sans-serif;
    font-weight: 100;
    font-style: normal;
    bottom: 0px;
    top: 650px;
    left: 290px;

    .instagram-fotos {
        width: 3.1rem;
        height: auto;
        position: relative;
        top: 236px;
        left: 560px;
    }

    .mail-fotos {
        width: 1.9rem;
        height: auto;
        position: relative;
        top: 235px;
        left: 550px;
    }

    .copiright-fotos {
        width: fit-content;
        position: relative;
        left: 550px;
        top: 232px;
        color: white;
    }
}

//clases
.section-pie-de-pagina-clases {

    width: fit-content;
    height: fit-content;
    position: relative;
    font-family: "K2D", sans-serif;
    font-weight: 100;
    font-style: normal;
    bottom: 0px;
    top: -250px;
    left: 320px;

    .instagram-clases {
        width: 3.1rem;
        height: auto;
        position: relative;
        top: 236px;
        left: 560px;
    }

    .mail-clases {
        width: 1.9rem;
        height: auto;
        position: relative;
        top: 235px;
        left: 550px;
    }

    .copiright-clases {
        width: fit-content;
        position: relative;
        left: 550px;
        top: 232px;
        color: white;
    }
}

//formulario
.section-pie-de-pagina-formulario {

    width: fit-content;
    height: fit-content;
    position: relative;
    font-family: "K2D", sans-serif;
    font-weight: 100;
    font-style: normal;
    bottom: 0px;
    top: 250px;
    left: 320px;

    .instagram-formulario {
        width: 3.1rem;
        height: auto;
        position: relative;
        top: 236px;
        left: 560px;
    }

    .mail-formulario {
        width: 1.9rem;
        height: auto;
        position: relative;
        top: 235px;
        left: 550px;
    }

    .copiright-formulario {
        width: fit-content;
        position: relative;
        left: 550px;
        top: 232px;
        color: white;
    }
}