header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;

}

.navBar-index {
    width: 100%;
    height: auto;
    position: relative;
    background-color: transparent;
    left: 280px;
    top: 31.25rem;
    font-family: "K2D", sans-serif;
    color: $color;
    display: flex;
    list-style: none;
    gap: 20px;

    li a {
        background-color: transparent;
        text-decoration: none;
        color: $color;
        font-size: map-get($font-size, lg);

        &:hover {
            color: rgb(222, 200, 171);
        }
    }
}


.navBar-bio {
    position: relative;
    width: fit-content;
    height: fit-content;
    left: 18.75rem;
    bottom: 23.75rem;
    font-family: "K2D", sans-serif;
    color: white;
    display: flex;
    list-style-type: none;
    gap: 20px;

    li a {
        background-color: transparent;
        text-decoration: none;
        color: white;
        font-size: map-get($font-size, lg);

        &:hover {
            color: rgb(222, 200, 171);
        }
    }
}

.navBar-musica {
    position: relative;
    width: fit-content;
    height: fit-content;
    left: 280px;
    bottom: 380px;
    font-family: "K2D", sans-serif;
    color: white;
    display: flex;
    list-style-type: none;
    gap: 20px;

    li a {
        background-color: transparent;
        text-decoration: none;
        color: white;
        font-size: map-get($font-size, lg);

        &:hover {
            color: rgb(222, 200, 171);
        }
    }
}

.navBar-video {
    position: relative;
    background-color: transparent;
    left: 330px;
    bottom: 350px;
    font-family: "K2D", sans-serif;
    color: white;
    display: flex;
    list-style-type: none;
    gap: 20px;

    li a {
        background-color: transparent;
        text-decoration: none;
        color: white;
        font-size: map-get($font-size, lg);

        &:hover {
            color: rgb(222, 200, 171);
        }
    }
}

.navBar-fotos {
    position: relative;
    background-color: transparent;
    left: 330px;
    bottom: 350px;
    font-family: "K2D", sans-serif;
    color: white;
    display: flex;
    list-style-type: none;
    gap: 20px;

    li a {
        background-color: transparent;
        text-decoration: none;
        color: white;
        font-size: map-get($font-size, lg);

        &:hover {
            color: rgb(222, 200, 171);
        }
    }
}

.navBar-clases {
    position: relative;
    background-color: transparent;
    left: 330px;
    bottom: 350px;
    font-family: "K2D", sans-serif;
    color: white;
    display: flex;
    list-style-type: none;
    gap: 20px;

    li a {
        background-color: transparent;
        text-decoration: none;
        color: white;
        font-size: map-get($font-size, lg);

        &:hover {
            color: rgb(222, 200, 171);
        }
    }
}

.navBar-formulario {
    position: relative;
    background-color: transparent;
    left: 330px;
    top: 10px;
    font-family: "K2D", sans-serif;
    color: white;
    display: flex;
    list-style-type: none;
    gap: 20px;

    li a {
        background-color: transparent;
        text-decoration: none;
        color: white;
        font-size: map-get($font-size, lg);

        &:hover {
            color: rgb(222, 200, 171);
        }
    }
}