@media (max-width: 426px) {

    body {
        .hero {
            width: 426px;
            height: 900px;
            background-position-x: -500px;

            .nav__hamburguer {
                left: 120px;

                .nav__icon {
                    position: relative;
                    width: 140px;
                    right: 20px;
                    top: 30px;
                }
            }

            .nav__close {
                .nav__icon__x {
                    width: 35px;
                    left: 155px;
                    top: 20px;
                }
            }


            .nav__item__home a {
                .nav__link__home {
                    position: relative;
                    left: -10px;
                    top: -20px;
                }
            }

            .nav__link__oculto {
                display: block;

            }

            .nav__links {
                .nav__item {
                    position: relative;
                    left: 48px;
                    bottom: 50px;
                }
            }

            footer section {


                .section-pie-de-pagina-index {

                    left: -360px;
                    top: -80px;


                    .instagram-index {
                        left: 660px;
                        top: 300px;
                    }

                    .mail-index {
                        left: 650px;
                        top: 299px
                    }

                    .copiright-index {
                        top: 300px;
                        left: 653px;

                    }

                }

            }
        }

        .hero-bio {
            width: 100%;
            height: 500px;
            background-position-x: -700px;
        }

    }

    main {
        .section-principal-bio {
            position: relative;
            left: -100px;
            right: 150px;
            top: 30px;
            font-size: map-get($font-size, ss);
        }

        section {
            .texto-bio {
                width: 70%;
                position: relative;
                font-size: map-get($font-size, ss);
                top: -40px;
                left: 0px;
            }
        }
    }

    footer section {
        .section-pie-de-pagina-bio {

            left: -560px;
            top: 80px;


            .instagram-bio {
                left: 660px;
                top: 300px;
            }

            .mail-bio {
                left: 650px;
                top: 299px
            }

            .copiright-bio {
                top: 300px;
                left: 653px;

            }
        }
    }

}

// .section-clases {
//     .boton {
//         top: 100px;
//         left: 360px;
//     }
// }

// //index
// .hero {

//     footer section {
//         left: -130px;
//         bottom: 140px;

//         .section-pie-de-pagina-index {
//             bottom: 50px;
//             left: -180px;

//             .instagram-index {
//                 left: 460px;
//                 top: 300px;
//             }

//             .mail-index {
//                 left: 450px;
//                 top: 299px
//             }

//             .copiright-index {
//                 top: 300px;
//                 left: 453px;

//             }
//         }
//     }
// }



// .section-principal-videos {

//     .grid-videos {
//         display: grid;
//         margin: 100px;
//         grid-template-columns: repeat(1, 1fr);
//         grid-template-rows: repeat(3, 1fr);
//         gap: 0;

//     }

//     .grid-videos iframe {
//         width: 350px;
//         height: 400px;
//         object-fit: cover;
//         display: block;
//     }
// }

// footer section {

//     .section-pie-de-pagina-bio {
//         left: 0px;
//         top: 0px;

//     }

//     .instagram-bio {

//         left: 0px;
//         top: 0px;
//     }

//     .mail-bio {

//         left: 0px;
//         top: 0px
//     }

//     .copiright-bio {

//         top: 0px;
//         left: 0px;

//     }
// }



// //     body {
// //         position: relative;
// //         left: 00px;
// //         height: 120%;
// //     }

// //     .hero {
// //         width: 130%;
// //         height: 900px;
// //         background-position-x: -520px;
// //     }

// //     .nav__hamburguer {
// //         left: 180px;

// //         .nav__icon {
// //             position: relative;
// //             width: 140px;
// //             right: 20px;
// //             top: 30px;
// //         }
// //     }

// //     .nav__close {
// //         .nav__icon__x {
// //             width: 35px;
// //             left: 160px;
// //             top: 20px;
// //         }
// //     }


// //     .nav__item__home a {
// //         .nav__link__home {
// //             position: relative;
// //             left: -20px;
// //         }
// //     }

// //     .nav__link__oculto {
// //         display: block;

// //     }

// //     .nav__links {
// //         .nav__item {
// //             position: relative;
// //             left: 40px;
// //         }
// //     }


// //     .section-principal-videos {

// //         .grid-videos {
// //             display: grid;
// //             margin: 100px;
// //             grid-template-columns: repeat(1, 1fr);
// //             grid-template-rows: repeat(3, 1fr);
// //             gap: 0;

// //         }

// //         .grid-videos iframe {
// //             width: 350px;
// //             height: 400px;
// //             object-fit: cover;
// //             display: block;
// //         }
// //     }

// //     footer section {
// //         top: 1600px;

// //         .section-pie-de-pagina-index {

// //             left: -220px;
// //             top: -150px;


// //             .instagram-index {
// //                 left: 660px;
// //                 top: 300px;
// //             }

// //             .mail-index {
// //                 left: 650px;
// //                 top: 299px
// //             }

// //             .copiright-index {
// //                 top: 300px;
// //                 left: 653px;

// //             }

// //             .section-pie-de-pagina-bio {
// //                 left: 0px;
// //                 top: 0px;

// //             }

// //             .instagram-bio {

// //                 left: 0px;
// //                 top: 0px;
// //             }

// //             .mail-bio {

// //                 left: 0px;
// //                 top: 0px
// //             }

// //             .copiright-bio {

// //                 top: 0px;
// //                 left: 0px;

// //             }
// //         }
// //     }
// // }